body {
    background: #ccdefc;
}

g {
    user-select: none;
}

rect {
    rx: 3;
    ry: 3;
}

.year-name {
    text-anchor: start;
    stroke: white;
    stroke-width: 1;
    font-family: "Consolas", "Arial", "Tahoma";
}

.month-name {
    text-anchor: start;
    stroke: white;
    stroke-width: 1;
    font-family: "Consolas", "Arial", "Tahoma";
}

.day-text {
    text-anchor: start;
    stroke: white;
    stroke-width: 1;
    font-family: "Consolas", "Arial", "Tahoma";
}

#title {
    margin-top: 10px;
    text-align: center;
    font-size: 26px;
    font-family: "FangSong", "仿宋";
    font-weight: bold;
    fill: #7904d8;
}
