body {
    background: #d3f0ff;
}

g {
    user-select: none;
}

rect {
    rx: 3;
    ry: 3;
}

.year-name {
    text-anchor: middle;
    stroke: white;
    stroke-width: 2;
    font-family: "Consolas", "Arial", "Tahoma";
}

.year-stat {
    text-anchor: middle;
    font-family: "Consolas", "Arial", "Tahoma";
}

.month-name {
    text-anchor: middle;
    stroke: white;
    stroke-width: 1;
    font-family: "Consolas", "Arial", "Tahoma";
}

.day-text {
    text-anchor: middle;
    stroke: white;
    stroke-width: 1;
    font-family: "Consolas", "Arial", "Tahoma";
}

#title {
    margin-top: 10px;
    text-align: center;
    font-size: 30px;
    font-family: "Microsoft Yahei", "微软雅黑" ;
    /*font-weight: bold;*/
    fill: #0e2e3d;
}
